<footer class="footer__container">
  <div class=""><a href="#startini" class="footer__arrow">
    <img src="./assets/images/ico-arrow.svg" alt="arrow up" title="arrow" /></a>
  </div>
  <section class="footer__section">
    <small class="footer__small">&copy2017<span class="footer__love">we <span class="footer__heart">&#9829</span> components</span></small>

    <!-- <nav class="footer-nav"> -->
    <ul class="footer__menu1">
      <li class="">
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Articles</a>
      </li>
      <li>
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Books</a>
      </li>
      <li>
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Events</a>
      </li>
      <li>
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Reasons</a>
      </li>
      <li>
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Tips</a>
      </li>
    </ul>
    <ul class="footer__menu2">
      <li>
        <a href="https://twitter.com/AdaLab_Digital" class="footer__links" title="go Adalab">Twitter</a>
      </li>
      <li>
        <a href="https://www.instagram.com/adalab_digital/" class="footer__links" title="go Adalab">Instragram</a>
      </li>
      <li>
        <a href="https://adalab.es/?gclid=Cj0KCQiA4sjyBRC5ARIsAEHsELEplqiN3XdwsNWx3xRstoBc-x_AnP3h_PZvdAyFW4vkPHX8ZW18qNkaAjuNEALw_wcB" class="footer__links" title="go Adalab">Mastodon.social</a>
      </li>
    </ul>
    <!-- </nav> -->
  </section>
</footer>
