<footer class="footer-container">
  <div class="footer-arrow">
    <img src="./assets/images/ico-arrow.svg" alt="arrow up" title="arrow" />
  </div>
  <section class="footer-section">
    <small>
      <span>copy2017</span>
      <span>we love components</span>
    </small>

    <!-- <nav class="footer-nav"> -->
    <ul>
      <li>
        <a href="" title="">Articles</a>
      </li>
      <li>
        <a href="" title="">Books</a>
      </li>
      <li>
        <a href="" title="">Events</a>
      </li>
      <li>
        <a href="" title="">Reasons</a>
      </li>
      <li>
        <a href="" title="">Tips</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="" title="">Twitter</a>
      </li>
      <li>
        <a href="" title="">Instragram</a>
      </li>
      <li>
        <a href="" title="">Mastodon.social</a>
      </li>
    </ul>
    <!-- </nav> -->
  </section>
</footer>
