<header class="header-container">
  <nav class="header-nav">
    <a href="" title="to page Adalab">
      <img src="./assets/images/ico-menu.svg" alt="Adalab" title="nav to Adalab page" class="" />
    </a>
  </nav>
  <section class="header-section">
    <!-- <img src="../assets/images/cover.jpg" alt="skyline" title="skyline" class="header-img" /> -->
    <h1>Anonymous proxy</h1>

    <p>In hac habitasse platea dictumst.</p>
    <img src="./assets/images/ico-scroll-down.svg" alt="" title="arrow" />
  </section>
</header>
