<header id="startini" class="header__container">
  <nav class="header__nav">
    <a href="https://adalab.es/?gclid=CjwKCAiAhc7yBRAdEiwAplGxX-yd5OK0tjMCbMv-SW9uSghtrNDlV0M9HGlRSXzkhzPXLqF2VKRWuhoCCGcQAvD_BwE" title="to page Adalab">
      <img src="./assets/images/ico-menu.svg" alt="Adalab" title="nav to Adalab page" class="" />
    </a>
  </nav>
  <section class="header__section">
    <!-- <div class="header__title"> -->
    <h1 class="header__h1">Anonymous <span class="header__span">proxy</span></h1>

    <p class="header__p">In hac habitasse platea dictumst.</p>
    <!-- </div> -->
    <div class="header__arrow">
      <a href="#3reason" class="header__img"><img src="./assets/images/ico-scroll-down.svg" alt="" title="arrow" class="header__img"/></a>
    </div>
  </section>
</header>
