<header class="header-container">
  <nav class="header-nav">
    <a href="" title="to page Adalab">
      <img src="./assets/images/ico-menu.svg" alt="Adalab" title="nav to Adalab page" class="" />
    </a>
  </nav>
  <section class="header-section">
    <!-- <div class="header__title"> -->
    <h1 class="header__h1">Anonymous <span class="header__span">proxy</span></h1>

    <p class="header__p">In hac habitasse platea dictumst.</p>
    <!-- </div> -->
    <div class="header__arrow">
      <img src="./assets/images/ico-scroll-down.svg" alt="" title="arrow" class="header__img" />
    </div>
  </section>
</header>
