<main class="main__container">
  <article class="main__article">
    <small class="main__small">Insomnia tips</small>
    <h2 class="main__h2">Looking through a window</h2>
    <p class="main__p">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
    </p>
    <div class="main__bottom main__bottom-go">Go</div>
  </article>
  <section class="main__wrapper">
    <h2 id="3reason" class="main__h2-reason">3 reasons to purchase</h2>
    <ul class="main__lu main__list">
      <li class="main__li">
        <h3 class="main__li-h3">Ut sed metus</h3>
        <p class="main__li-p">Lorem ipsum dolor sit amet, consecteur.</p>
      </li>
      <li class="">
        <h3 class="main__li-h3">Curabitur ac erat</h3>
        <p class="main__li-p">Mauris mattis urna quis lorem molestie.</p>
      </li>
      <li class="">
        <h3 class="main__li-h3">Morbi dictum</h3>
        <p class="main__li-p">Aliquam in dolor et dolor tincidunt.</p>
      </li>
    </ul>
    <div class="main__bottom-reason">More reasons</div>
  </section>
</main>
