<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="" title="to page Adalab">
          <img src="" alt="" title="nav to Adalab page"
        /></a>
      </nav>
      <section>
        <img src="" alt="skyline" title="skyline" />
        <h1>Anonymous proxy</h1>
        <p>In hac habitasse platea dictumst.</p>
        <img src="" alt="" title="arrow" />
      </section>
    </header>
    <main>
      <article>
        <small>Insomnia tips</small>
        <h2>Looking through a window</h2>
        <p>
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis,
          at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
        <div>Go</div>
      </article>
      <section>
        <header>3 reasons to purchase</header>
        <ul>
          <li>
            <header>Ut sed metus</header>
            <p>Lorem ipsum dolor sit amet, consecteur.</p>
          </li>
          <li>
            <header>Curabitur ac erat</header>
            <p>Mauris mattis urna quis lorem molestie.</p>
          </li>
          <li>
            <header>Morbi dictum</header>
            <p>Aliquam in dolor et dolor tincidunt.</p>
          </li>
          <li>
            <div>More reasons</div>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <div>
        <img src="" alt="" title="arrow" />
      </div>
      <section>
        <small>
          <span>copy2017</span>
          <span>we love components</span>
        </small>
      </section>
      <nav>
        <ul>
          <li>
            <a href="" title="">Articles</a>
          </li>
          <li>
            <a href="" title="">Books</a>
          </li>
          <li>
            <a href="" title="">Events</a>
          </li>
          <li>
            <a href="" title="">Reasons</a>
          </li>
          <li>
            <a href="" title="">Tips</a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="" title="">Twitter</a>
          </li>
          <li>
            <a href="" title="">Instragram</a>
          </li>
          <li>
            <a href="" title="">Mastodon.social</a>
          </li>
        </ul>
      </nav>
    </footer>
    <!-- <div class="page">
      <partial src="_header.html" title="Bienvenidos a Adalab"></partial>
      <partial src="_main.html" label="Main"></partial>
      <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
      <partial sr<c="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial>
      <partial src="_footer.html"></partial>
    </div> -->
  </body>
</html>
